* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    background-image: url("../assets/img/mapa.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}

.caixa-maior {
    background-color: #000000f2;
    width: 600px;
    border-radius: 15px;
    padding: 20px;

}

#input-text {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    resize: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    border: 1px solid transparent; ;
}

#input-text:focus {
    background-color: #ffffff33;
    border-color: #0ae85b;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;

    option {
        color: black;
    }

}


.controle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
}

.resultado {
    background-color: #ffffff1a;
    border-radius: 15px;
    padding: 15px;
}

.titulo-traducao {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao {
    color: #ffffff;
    font-size: 18px;
}

.rodape {
    margin-top: 14px;
    text-align: center;

    a {
        color: #ffffff;
        font-size: 1.2rem;
        text-decoration: none;
        margin: 0 16px;

        &:hover {
            color: #0ae85b;
            transition: color 0.2s ease;
        }
    }


    .dev {
        color: #ffffff;
        font-size: 1rem;
        text-align: center;
    }

    .dev:hover {
        color: #0ae85b;
        transition: color 0.2s ease;
    }
}




@media (max-width: 768px) {
    .caixa-maior {
        width: 90%;
        padding: 15px;

        .dev {
            font-size: 0.9rem;
        }
    }

}